/*----------------------------------------------------------------------------------------------------------------*\
    BASIC RESET - please use a better one in production
\*----------------------------------------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

.pageContainer {
	padding: 30px 0;
}

label {
	display: block;
}

input {
	margin-bottom: 20px;
}



/*----------------------------------------------------------------------------------------------------------------*\
    CHECKBOX
\*----------------------------------------------------------------------------------------------------------------*/
.checkboxes {
	width: 700px;
	margin: 0 auto;
}




/*----------------------------------------------------------------------------------------------------------------*\
    RADIO BUTTON
\*----------------------------------------------------------------------------------------------------------------*/
.radioButtons {
	width: 700px;
	margin: 0 auto;
}




/*----------------------------------------------------------------------------------------------------------------*\
    SELECT
\*----------------------------------------------------------------------------------------------------------------*/