/*----------------------------------------------------------------------------------------------------------------*\
    BASIC RESET - please use a better one in production
\*----------------------------------------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

.pageContainer {
	width: 700px;
	padding: 30px 0;
    margin: 0 auto;
}

label {
	display: block;
}

input {
	margin-bottom: 20px;
}





/*----------------------------------------------------------------------------------------------------------------*\
    CHECKBOX
\*----------------------------------------------------------------------------------------------------------------*/
.checkbox {
	width: 15px;
	height: 15px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	display: block;
	
	background: #fff;
}

.checkbox.selected {
    background: #49B1DE;
}





/*----------------------------------------------------------------------------------------------------------------*\
    RADIO BUTTON
\*----------------------------------------------------------------------------------------------------------------*/
.radio {
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    
    background: #fff;
}

.radio.selected {
    background: #49B1DE;
}





/*----------------------------------------------------------------------------------------------------------------*\
    SELECT
\*----------------------------------------------------------------------------------------------------------------*/
.select {
	padding: 5px 10px;
	border: 1px solid #ccc;
	display: inline-block;
	
	position: relative;
}

.select .options {
	padding: 5px;
    border: 1px solid #ccc;
}

